.container {
  max-width: 800px;
  margin: 40px auto;
  padding: 30px;
  background-color: #00000073;
  border: 2px solid #f2f2f2;
  box-shadow: 0 0 30px rgba(255, 255, 255, 0.055);
  color: #eee;
  position: relative;
  z-index: 1000;
}

h1, h2, strong {
  color: #f12f2f;
}

.record-tag {
  background-color: #e8eb17;
  color: #000;
  border: 2px dashed #000;
}

.profile-content {
  display: flex;
  gap: 30px;
  align-items: flex-start;
  flex-wrap: nowrap;
  overflow: hidden;
}

.record-photo {
  flex-shrink: 0;
  max-width: 220px;
}

.record-photo img {
  width: 100%;
  height: auto;
  box-shadow: 3px 3px 15px rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  object-fit: cover;
  display: block;
  max-height: 320px;
}

ul li {
  margin-bottom: 18px;
  line-height: 1.6;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #0d0d0d;
  color: #f8f8f8;
  overflow-x: hidden;
  position: relative;
  z-index: -1000;
}

body::before {
  content: "";
  position: fixed;
  top: -100%;
  left: -100%;
  width: 300%;
  height: 300%;
  background-image: repeating-linear-gradient(
    0deg,
    rgba(255, 255, 0, 0.015) 0,
    rgba(255, 255, 0, 0.015) 1px,
    transparent 1px,
    transparent 120px
  );
  background-size: 100% 100%;
  z-index: -1000;
  animation: backgroundMove 120s linear infinite;
}

@keyframes moveCaution {
  0% {
    transform: rotate(-45deg) translate(0, 0);
  }
  100% {
    transform: rotate(-45deg) translate(300px, 300px);
  }
}

.caution-overlay,
.caution-overlay-2,
.caution-overlay-3,
.caution-overlay-4 {
  position: fixed;
  width: 300%;
  height: 300%;
  font-size: 8rem;
  font-weight: bold;
  color: rgba(255, 255, 0, 0.781);
  white-space: nowrap;
  pointer-events: none;
  animation: moveCaution 60s linear infinite;
  transform: rotate(-45deg);
  z-index: -10000;
}

.caution-overlay {
  top: -20%;
  left: -80%;
  z-index: -1000;
}

.caution-overlay-2 {
  top: 0%;
  left: -70%;
}

.caution-overlay-3 {
  top: 20%;
  left: -60%;
  z-index: -9999;
}

.caution-overlay-4 {
  top: 40%;
  left: -50%;
  z-index: -9998;
}

.caution-overlay::before,
.caution-overlay-2::before,
.caution-overlay-3::before,
.caution-overlay-4::before {
  content: "⚠ CAUTION ⚠ CAUTION ⚠ CAUTION ⚠ CAUTION ⚠ CAUTION ⚠ ";
  position: fixed;
  display: block;
  z-index: -10000;
}

